.type-1275 {
  margin-top: 30px;
  font-family: "Lato", Arial, Tahoma, sans-serif;
}
.type-1275 .page-header {
  text-align: center;
  margin: 0;
  line-height: 1.4em;
  color: #000;
  font: 400 74px/82px Libre Baskerville;
}
.type-1275 .page-header h1 {
  padding: 20px;
  margin: 25px;
  font-size: 60px;
}
.type-1275 .product-menu {
  width: 100%;
  margin: 0;
  margin-top: 100px;
}
.type-1275 .product-menu .Filters {
  margin: 0;
}
.type-1275 .product-menu .Filters ul {
  text-align: center;
  borer-bottom: 1px solid rgba(0,0,0,0.25);
  margin: 0;
  display: block;
}
.type-1275 .product-menu .Filters ul li {
  float: none;
  width: auto;
  display: inline-block;
  list-style: none;
  margin: 0;
  line-height: 45px;
}
.type-1275 .product-menu .Filters ul li a {
  border: 0;
  font-size: 22px;
  font-family: Lato;
  transition: all .2s ease-in-out;
  letter-spacing: 1px;
  padding: 20px 25px;
  position: relative;
  color: #000000;
  margin: 0;
  text-decoration: none;
}
.type-1275 .product-menu .Filters ul li a:hover {
  color: #5fb1b2;
}
@media (max-width: 959px) {
  .type-1275 .product-menu .Filters ul li a {
    font-size: 15px;
    padding: 20px 16px;
  }
}
.type-1275 .product-menu .portfolio_wrapper {
  background: #edeeee;
  overflow: hidden;
  text-align: center;
}
.type-1275 .product-menu .portfolio_wrapper .all {
  width: 100%;
  text-align: center;
  height: 900px;
  margin-left: 2%;
  width: 97%;
  height: auto;
}
.type-1275 .product-menu .portfolio_wrapper .all .item {
  width: 20%;
  text-align: center;
  float: left;
}
.type-1275 .product-menu .portfolio_wrapper .all .item .image img {
  max-width: 91%;
  max-height: 256px;
}
.type-1275 .product-menu .portfolio_wrapper .all .item h4 {
  margin: 16px 0;
  color: #000;
  font-weight: inherit;
  letter-spacing: 2px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}
@media screen and (max-width: 767px) {
  .type-1275 .product-menu .portfolio_wrapper .all .img-reponsive {
    width: 100% !important;
  }
}
@media (max-width: 1140px) and (min-width: 998px) {
  .type-1275 .product-menu .portfolio_wrapper .all .item {
    width: 25%;
    float: left;
  }
}
@media (max-width: 997px) and (min-width: 767px) {
  .type-1275 .product-menu .portfolio_wrapper .all .item {
    width: 33.33%;
    float: left;
  }
}
@media (max-width: 765px) {
  .type-1275 .product-menu .portfolio_wrapper .all .item {
    width: 50%;
    float: left;
  }
}
@media (max-width: 700px) {
  .type-1275 .product-menu .portfolio_wrapper .all .item {
    width: 100%;
  }
}
@media only screen and (max-width: 479px) {
  .type-1275 a h2 {
    font-size: 24px;
    line-height: 24px;
  }
}
@media only screen and (max-width: 959px) and (min-width: 768px) {
  .type-1275 a h2 {
    font-size: 34px;
    line-height: 34px;
  }
}
@media only screen and (max-width: 767px) and (min-width: 480px) {
  .type-1275 a h2 {
    font-size: 30px;
    line-height: 30px;
    font-weight: normal;
  }
}
