.type-1264 .parallax-bg-wrapper {
  flex-direction: column;
  display: inline-block;
}
.type-1264 .parallax-bg-wrapper .image-size {
  width: 100%;
  height: 400px;
}
.type-1264 .parallax-bg-wrapper .top {
  position: absolute;
  top: 25%;
  left: 37%;
  text-align: center;
  color: #fff;
  font-family: cursive;
  font-size: 40px;
  margin: 0;
}
@media screen and (max-width: 766px) {
  .top {
    position: absolute;
    top: 23% !important;
    left: 23% !important;
    font-size: 30px !important;
  }
}
