.type-1281 {
  text-align: center;
}
.type-1281 .da {
  text-align: center;
  padding-top: 0;
}
.type-1281 .da img {
  padding-bottom: 0;
}
.type-1281 a {
  text-decoration: none;
  color: black;
}
.type-1281 a:hover {
  color: #cb7152;
}
.type-1281 h4 {
  color: #333;
}
