@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v37/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}
.type-1274 .content-1 {
  z-index: 555;
  padding-top: 50px;
}
.type-1274 .content-1 h2 {
  font: 400 24px/32px Libre Baskerville;
}
.type-1274 .content-1 p {
  font: 400 16px/24px Varela Round;
  vertical-align: baseline;
  color: #9f9f9f;
}
.type-1274 .content-1 .fa {
  color: #89b649;
}
.type-1274 .content-1 .fa-layers {
  transform: rotate(50deg) skewX(24deg) skewY(12deg);
  -webkit-transform: rotate(50deg) skewX(24deg) skewY(12deg);
  -ms-transform: rotate(50deg) skewX(24deg) skewY(12deg);
}
.type-1274 .content-1 .material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  color: #89b649;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}
.type-1274 .content-2 h3 {
  font: 400 30px/38px Libre Baskerville;
}
.type-1274 .content-2 p {
  font: 400 16px/24px Varela Round;
  vertical-align: baseline;
  color: #464646;
}
.type-1274 .content-2 .top h1 {
  margin: 70px 0;
  font: 400 40px/50px Libre Baskerville;
}
.type-1274 .content-2 .fa {
  color: #89b649;
}
.type-1274 .content-2 .col-md-4 {
  padding-right: 30px;
  padding-left: 30px;
}
@media (max-width: 480px) {
  .type-1235 header .header-top {
    display: flex;
    z-index: 111;
    background: #00000052;
    padding: 0 10px !important;
    position: absolute;
  }
  .type-1235 header .header-top .navi-cart .search .search-panel .menu-search-text {
    padding: 9px 13px 9px 6px !important;
  }
}
@media (max-width: 580px) {
  .type-1235 .navi-cart #icon-responsive i {
    font-size: 28px !important;
  }
  .type-1235 .shop-cart a {
    font-size: 25px !important;
    line-height: inherit;
  }
  .type-1235 .shop-cart > span {
    font-size: 8px !important;
  }
  .type-1235 .search .icon-search {
    font-size: 24px !important;
  }
  .type-1235 .banner-text h1 {
    font-size: 72px !important;
    line-height: 63px !important;
  }
}
@media (max-width: 992px) {
  .type-1235 header .header-top .navi-cart .shop-cart a {
    font-size: 25px;
    line-height: inherit;
  }
  .type-1235 header .header-top .navi-cart #icon-responsive i {
    font-size: 30px;
  }
  .type-1235 header .header-top .navi-cart .search .icon-search {
    font-size: 25px;
  }
  #icon-responsive {
    display: block !important;
  }
  .shop-cart > span {
    font-size: 8px !important;
  }
  .navi-menus > ul {
    position: absolute;
    top: 100%;
    background: #eeeeee;
    left: 0;
    display: none;
    width: 100% !important;
  }
  .navi-cart {
    width: 75%;
  }
  .type-1235 header .header-top .navi-menus > ul > li {
    cursor: pointer;
    text-align: center !important;
    border-top: 1px solid rgba(0,0,0,0.05);
    display: block !important;
    padding: 24px 0;
  }
  .navi-menus > ul > li > a {
    color: #555 !important;
    font-size: 20px !important;
  }
  .navi-menus > ul > li > ul {
    display: none;
    background: #cb7152;
    transform: translateY(0px) !important;
    position: static !important;
  }
  .navi-menus > ul > li > ul li {
    padding: 15px 2px;
  }
  .shop-cart {
    padding: 12px 10px !important;
  }
}
@media (max-width: 1170px) {
  .type-1235 .header-top .navi-cart .search .search-panel {
    top: 20%;
    right: 8%;
  }
}
