.type-1276 .title {
  width: 100%;
  margin: 40px 0;
  text-align: center;
}
.type-1276 .title h1 {
  font-size: 50px;
  font-weight: 700;
}
.type-1276 .title .line {
  margin: auto;
  text-align: center;
  width: 120px;
  height: 2px;
  background-color: #cb7152;
  margin-bottom: 20px;
}
.type-1276 .content .item ul li {
  display: block;
  font-size: 20px;
  list-style: none;
  border-bottom: 1px solid #ededed;
  padding: 35px 0;
}
.type-1276 .content .item ul li span {
  font-weight: 600;
  font-size: 24px;
  float: left;
  width: 15%;
}
.type-1276 .content .item ul li p {
  font-size: 14px;
  float: left;
  width: 85%;
}
